<%current_order.order_items.includes(:product).each do |oi| %>
  <span><%= oi.quantity %>x</span>&nbsp;
  <a href=""><%= oi.product.name %></a>
  <span style="margin-left: 6%"><%= number_to_currency oi.product.price * oi.quantity %>
    <%= link_to order_item_path(oi), method: :delete, remote: true do %>
        <span class="glyphicon glyphicon-trash" style="color: black"></span>
    <% end %>
  </span>
  <br>
<%end %>
