<div class="col-md-4">
    <div class="col-md-12">
        <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                  <div id="imaginary_container"> 
                      <div class="input-group stylish-input-group">
                          <input type="text" class="form-control"  placeholder="Search" >
                          <span class="input-group-addon">
                              <button type="submit">
                                  <span class="glyphicon glyphicon-search"></span>
                              </button>  
                          </span>
                      </div>
                  </div>
              </div>
        </div>
    </div>
    <div class="col-md-12" > 
      <div class="li col-md-12">
        CATEGORIES
      </div>
      <div class="col-md-12">
        <li class="li_pr"><a href="">Business Phones</a></li>
        <li class="li_pr"><a href="">Fun Phones</a></li>
        <li class="li_pr"><a href="">Lifestyle Phones</a></li>
        <li class="li_pr"><a href="">Value Phones</a></li>
      </div>
    </div>
    <div class="col-md-12" > 
      <div class="li col-md-12">
        MANUFACTURERS
      </div>
      <div class="col-md-12">
        <li class="li_pr"><a href="">Apple</a></li>
        <li class="li_pr"><a href="">Asus</a></li>
        <li class="li_pr"><a href="">Gigabyte</a></li>
        <li class="li_pr"><a href="">HTC</a></li>
        <li class="li_pr"><a href="">HP</a></li>
        <li class="li_pr"><a href="">Motorola</a></li>
        <li class="li_pr"><a href="">Samsung</a></li>
        <li class="li_pr"><a href="">Sony Ericsson</a></li>
        <li class="li_pr"><a href="">Nokia</a></li>
        <li class="li_pr"><a href="">LG</a></li>
      </div>
    </div>
    <div class="li col-md-12" >CART<button id="1" class="glyphicon glyphicon-chevron-down"></button> 
      <div id="123">
      <li class="li_pr2">
      <%= render 'share/cart' %>
      </li>
      </div>
      <li style="margin-left: 32px">
      <% if session[:order_id] %>
       <%= link_to order_path(current_order.id), class: ' btn btn-default' do %>
        Show Cart<span class="show_btn_cart"><%= render 'share/btn_show_cart' %></span>
       <% end %>
       <% else %>
       <button>Show Cart<span class="show_btn_cart"><%= render 'share/btn_show_cart' %></span></button>
      <% end %>
      </li>
    </div>
    <div class="li col-md-12"> TAGS </div>
  </div>