 <div class="col-md-10 col-md-offset-1" style="background-color: #fff;">
  <%= render 'share/side_bar' %>
  <div class="col-md-8">
    <div class="col-xs-12">
      <hr>
      <div class="notice"><%= render 'share/alert', :flash => flash %></div>
      <hr>
    </div>
    <div class="col-md-12">
      <span style="color:#EFEEEA"><b>Home>Your shopping cart</b></span>
    </div>
     <div class="col-md-12" >
      <br>
      <hr class="style15">
      <br>
    </div>
          <!--Shopping Cart table-->
      <div class="table-responsive">
          <table class="table product-table">
              <!--Table head-->
              <thead>
                <tr>
                  <th></th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Discout</th>
                  <th>Trademark</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                  <th></th>
               </tr>
              </thead>
              <%= form_tag(order_item_path, method: :patch) do %>
              <tbody>
              <% @order_items.each do |oi| %>
                <tr>
                    <th scope="row">
                        <%= image_tag oi.product.image.thumb.url %>
                    </th>
                    <td>
                        <h5><strong><%= oi.product.name %></strong></h5>
                        <p class="text-muted">by Admin</p>
                    </td>
                    <td id="price-<%= oi.product.id %>"><%= oi.product.price %></td>
                    <td><%=number_to_currency oi.product.discount %></td>
                    <td><%= oi.product.trademark %></td>
                    <td>
                        <%= text_field_tag "quantity-#{oi.product.id}", oi.quantity, {id: "quantity-#{oi.product.id}", class: "form-control", style: "width: 44%"} %>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-sm btn-primary btn-rounded" onclick="tru(<%=oi.product.id%>)">
                                <input type="radio" name="options" id="option1">&mdash;
                            </label>
                            <label class="btn btn-sm btn-primary btn-rounded" onclick="cong(<%=oi.product.id%>)">
                                <input type="radio" name="options" id="option1">+
                            </label>
                        </div>
                    </td>
                    <td id="amount-<%= oi.product.id %>"><%= number_to_currency oi.product.price * oi.quantity %></td>
                    <td>
                        <%= link_to order_path(oi), method: :delete, remote: true, class: "destroy-product" do %>
                            <span class="glyphicon glyphicon-trash" style="color: black"></span>
                        <% end %>
                    </td>
                </tr>
                <% end %>
                
                <tr>
                    <td colspan="3"></td>
                    <td>
                        <h4><strong>Total</strong></h4></td>
                    <td>
                        <h4><strong> <%= number_to_currency subtotal %></strong></h4></td>
                    <td colspan="3"><button type="button" class="btn btn-primary">PAYMENT</button>
                    <%= submit_tag "UPDATE CART", class: 'btn btn-danger btn-md pull-right' %>
                    </td>
                </tr>
              </tbody>
              <% end %>
          </table>
      </div>
  </div>
