// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color:#EFEEEA;
}

.navbar-nav > li > a {
    color: #fff !important;
}
li{
    list-style: none;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 11px 27px;
}

.dropdown-menu>li:hover a {
    background-color: #23556C;
    border-radius: 12px;
}
.dropdown-menu>li {
    border-bottom: 1px dotted #23556C;
}

/********Search************/
#imaginary_container{
     margin-top:5%;
     margin-bottom:5%;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
/**************Li Product*****************/
.li{
  padding: 5% 0% 5% 5%;
  background-color: #23556C;
  font-weight: bold;
}
.li_pr{
  margin-left: -8%;
  background-color: #fff;
  border-bottom: 1px dotted black;
  padding: 3% 0% 3% 18%;
  width: 116%;
}
.li_pr{
  font-size: 96%;
}
.li_pr a:hover{
  font-weight: bold;
}
/************Cart******************/
.li_pr2{
  margin-left:14%;
  color:#fff;
  font-size: 90%;
  
}
.li_pr2 a{
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.li_pr2 span{
  color:#9EE9F5;
}

.li_pr3 {
  margin-left:14%;
  color:#fff;
  font-size: 90%;
  background-color:red;
  width: 72%;
}

.li_pr3 span{
  margin-left:10% !important;
}
.li_button{
  background-color:grey;
}
/*Product*/
// p{
//   width: 100%;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   height: 247px;
// }
.description{
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height:5%;
}
hr.style15 {
  margin-top: -1%;
  border-top: 3px double #8c8b8b;
  margin-bottom: -1%;
}

.title_product a{
  color:#23556C;
  text-decoration: none;
  font-size: 94%;
}
.title_product a:hover{
  color:black;
  font-weight:bold;
}

.list_product{
  margin-bottom: 3%;
}
.col-md-12 h2{
  color:#23556C;
}
.col-md-12 p{
  color:#D1CEC9;
}

.btn{
  border-radius:0px ;
}

/*************footer**************/
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }